body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ffcccc;
    text-align: center;
    padding: 200px;
}

main {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item {
    margin-bottom: 20px;
    max-width: auto; /* Limits the maximum width to the size of the container */
    height: auto; /* Automatically adjusts height to maintain aspect ratio */
    display: block; /* Ensures images are displayed as block elements */
    margin: 0 auto; /* Centers images horizontally within the container */  
    font-style: italic;
    color: #666;
    font-size: 18px; /* Increase font size (adjust as needed) */
    line-height: 1.5; /* Adjust line height for readability */

}
